@import 'styles/variables.scss';

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: $block-margin;

  .toolbarLeft {
    .numTasksText {
      span {
        padding-right: 2rem;
      }
    }
  }

  .toolbarRight {
    text-align: right;

    button {
      margin-left: 2rem;
    }
  }
}