@import 'styles/variables.scss';

.taskItem {
  position: relative;
  width: 100%;
  min-height: 8rem;
  border-radius: 0.7rem;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;

  .text {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .actions {
    display: none;
  }

  &:hover {
    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding-right: 2rem;

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}

.priority {
  flex: 1;
  max-width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.priorityMarker {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  position: absolute;

  &.priority_0 {
    background-color: $color-priority-low;
  }

  &.priority_1 {
    background-color: $color-priority-med;
  }

  &.priority_2 {
    background-color: $color-priority-high;
  }

  &.priority_complete {
    background-color: $color-priority-complete;
  }
}

.actionButton {
  position: relative;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  background: white;
  margin: 0.8rem;
  cursor: pointer;
  user-select: none;

  .icon {
    position: absolute;
    left: 0.9rem;
    top: 0.9rem;
  }
}

.buttonPriority {
  composes: actionButton;

  .editPriority {
    display: none;
  }

  .editPrioritySpacer {
    display: none;
  }

  &:hover {
    .editPriority {
      display: block;
      height: 5rem;
      width: 12rem;
      background: $color-app-background;
      border: 1px solid white;
      border-radius: 0.5rem;
      transform: translate3d(calc(-6rem + 1.625rem), -6rem, 0);
      padding-top: 1rem;
    }

    // The transparent spacer exists so that the hover state remains active
    // when the user tries to hover over the priority edit buttons
    .editPrioritySpacer {
      display: block;
      height: 1rem;
      width: 12rem;
      background-color: transparent;
      transform: translate3d(calc(-6rem + 1.625rem), -6rem, 0);
    }
  }
}

.editPriorityMarker {
  composes: priorityMarker;
  position: relative;
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  margin-left: .3rem;
  margin-right: .3rem;
}

.taskComplete {
  opacity: 0.3;

  .text > p {
    text-decoration: line-through;
  }
}
