@import 'styles/variables.scss';

.app {
  text-align: center;
  min-height: 100vh;
  background-color: $color-app-background;
  color: $color-text;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-size: 2.6rem;
  }

  .main {
    min-width: 800px;
    max-width: 800px;
  }
}
